@page "/"
@inject NavigationManager NavigationManager
@using Client.Shared.Components

@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Charts


<LogInComponent/>

<div class="d-flex justify-content-center align-items-center vh-100">
    <SfButton CssClass="e-btn e-outline e-primary" type="button" @onclick="@(() => NavigationManager.NavigateTo("/Services"))">SERVICES</SfButton>
</div>

