<style>
    .steps-container {
        background-color: #FFF;
        padding:  1rem;
        border-radius: 0.5rem;
    }
    
    .steps-container ul {
        list-style-type: none;
        padding: 0rem;
    }
    
    .steps-container li {
        padding: 0.5rem 0rem 0.5rem 1rem;
        border-left: 0.2rem solid rgba(3,102,214, 0.1);
    }
    
    .steps-container li.active {
        border-color: rgba(3,102,214, 1);
    }
</style>

<div class="steps-container">
    <ul>
        @foreach (var Step in Steps.Select((value, i) => new {i, value}))
        {
            <li class="@(Step.i <= CurrentStep ? "active" : "")">
                @Step.value
            </li>
        }
    </ul>
</div>

@code {
    string[] Steps = {"Location", "Category", "Service", "Provider", "Time", "Client"};
    
    [Parameter]
    public int CurrentStep { get; set; }
    
}