@using Client.Shared.Components
@using Client.Models

<style>
    .rp-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
</style>

<div class="rp-container">
    <ReserveCard PictureUrl="https://daintydemo.simplybook.it/uploads/daintydemo/image_files/preview/daeb16509f61d78cbe6c988b4f21b468.jpg" Title="Test" Description="Description" OnClick="@(() => OnReserve("1"))"/>
</div>


@code {
    [Parameter]
    public Action<string> OnReserve { get; set; }
}