@using Client.Shared.Components
@using Client.Models

<style>
    .rl-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
</style>

<div class="rl-container">
    @foreach (Location Location in Locations)
    {
        <ReserveCard 
            PictureUrl="https://daintydemo.simplybook.it/uploads/daintydemo/image_files/preview/daeb16509f61d78cbe6c988b4f21b468.jpg" 
            Title="@(Location.StreetName + " - " + Location.StreetNumber)"
            Description=""
            OnClick="@(() => OnReserve(Location))"
            />     
    }
</div>


@code {
    [Parameter]
    public List<Location> Locations { get; set; }
    
    [Parameter]
    public Action<Location> OnReserve { get; set; }
}